@import url('https://fonts.googleapis.com/css2?family=Poppins:wight@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sacramento&display=swap');

#home {
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 229, 229); 
    padding-bottom: 40vh;
}

#home > img {
    height: 40vh;
}

span {
    font-family: "Borel", cursive;
}

#product {
    background-color: rgb(230, 229, 229); 
    padding-bottom: 10vh;
}
.producthead {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.nameproduct {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin-left: 30vw;
    margin-right: 30vw;
    border: 1px;
    border-style: solid;
    border-spacing: 2cm;
    text-align: center;
}

.nameproduct > img {
    height: 20vh;
    align-items: center;
}

#contact {
    background-color: rgb(230, 229, 229); 
}

.form {
    background-color: white;
    border: 1px;
    border-style: solid;
    margin-left: 15vw;
    margin-right: 15vw;
}

.headform {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.bodyform {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    text-align: end;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navbarlist > a {
    color: white;
    list-style: none;
    text-decoration: none;
    padding-right: 1vw;
    padding-left: 1vw;
}

.navbarlist a:hover {
    color: black;
    background-color: white;

} 

.navbar > .icon {
    text-align: start;
}